@use "../abstracts/colours" as c;

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: c.$secondarygray;
    visibility: hidden;
}

button, input[type=submit] {
    border: 1.75px solid black;
    border-radius: 20px;
    background-color: c.$primarygreen;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    &:hover {
        background-color: c.$secondarygray;
        color: c.$primarygreen;
    }
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    // border-style: outset;
}

input {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

section {
    width: 100%;
}

.link-divider {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
}

.select-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.select-list {
    width: 80%;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.type-1 {
    background-color: c.$grass;
}

.type-2 {
    background-color: c.$fire;
}

.type-3 {
    background-color: c.$water;
}

.type-4 {
    background-color: c.$electric;
}

.type-5 {
    background-color: c.$normal;
}

.type-6 {
    background-color: c.$rock;
}

.type-7 {
    background-color: c.$ground;
}

.type-8 {
    background-color: c.$fighting;
}

.type-9 {
    background-color: c.$ghost;
}

.type-10 {
    background-color: c.$psychic;
}

.type-11 {
    background-color: c.$flying;
}

.type-12 {
    background-color: c.$poison;
}

.type-13 {
    background-color: c.$bug;
}

.type-14 {
    background-color: c.$ice;
}

.type-15 {
    background-color: c.$dragon;
}

.type-16 {
    background-color: c.$steel;
}

.type-17 {
    background-color: c.$dark;
}

.type-18 {
    background-color: c.$fairy;
}

#top-text {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    font-size: 16px;
    &:hover {
        opacity: 70%;
        text-decoration: underline;
    }
}

select {
    background-color: c.$secondarygray;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 5px;
}

input[type=checkbox] {
    margin-left: 10px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
}

// select, option {
//     color: c.$graytext;
// }

option:disabled {
    color: rgb(50, 50, 50);
}

#hamburger-menu-con.dark-mode {
    background-color: c.$dmsecondarygray;
    a, p {
        color: c.$graytext;
    }
    .hamburger-divider {
        border-bottom: 1px solid c.$graytext;
    }
}

@media screen and (min-width: 768px) {
    .select-list {
        width: 50%;
    }

    button, input[type=submit] {
        font-size: 16px;
    }
}

img:not([alt]) {
    border: 5px solid green;
}