@use "../abstracts/colours" as c;

#character-list-con.dark-mode {
    border: 2px solid black;
    background-color: c.$darkbox;
}

#character-partner-con.dark-mode {
    margin-top: 10px;
    border: 3px solid black;
    background-color: c.$darkbox;
}

#character-title.dark-mode {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: c.$dmprimarygreen;
    a {
        color: c.$textgreen;
    }
}

#character-list-title.dark-mode {
    border-bottom: 2px solid black;
    background-color: c.$dmprimarygreen;
    color: c.$textgreen;
}

body.dark-mode {
    background-color: c.$dmsecondarygray;
}

header.dark-mode, footer.dark-mode {
    background-color: c.$dmprimarygreen;
}

select.dark-mode, .tab-selected.dark-mode {
    background-color: c.$darkbox!important;
}

.profile-info-box.dark-mode, #icon-con.dark-mode {
    border: 2px solid black;
    background-color: c.$darkbox;
}

.profile-tab.dark-mode {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: #505050;
}

.edit-icon.dark-mode {
    background-color: #afafaf;
}

#update-text.dark-mode, #top-text.dark-mode, #profile-username.dark-mode, #home-about-text.dark-mode {
    color: c.$graytext;
}

#rule-con.dark-mode, #suggest-con.dark-mode, #contact-con.dark-mode, #login-form-con.dark-mode, #register-form-con.dark-mode, #privacy-info-con.dark-mode, #toc-con.dark-mode, .forgot-form-con.dark-mode, #reset-password-form-con.dark-mode {
    border: 2px solid black;
    background-color: c.$darkbox;
    border-radius: 20px;
    &:not(#suggest-con.dark-mode, #contact-con.dark-mode, #login-form-con.dark-mode, #register-form-con.dark-mode, #privacy-info-con.dark-mode, .forgot-form-con.dark-mode, #reset-password-form-con.dark-mode) {
        margin-top: 5px;
    }
}

button.dark-mode, .profile-info-title.dark-mode, #submit-pokemon.dark-mode {
    background-color: c.$dmprimarygreen;
}

.profile-info-title.dark-mode {
    color: c.$textgreen;
}

button.dark-mode {
    border: 1.5px solid black;
}

#submit-pokemon-button.dark-mode, #submit-pokemon.dark-mode {
    color: c.$textgreen;
    &:hover {
        background-color: #afafaf!important;
    }
}

#edit-profile-button.dark-mode {
    background-color: #afafaf;
    &:hover {
        background-color: #505050;
    }
}

.info-box.dark-mode, #suggest-pokemon.dark-mode, input.dark-mode, textarea.dark-mode, #profile-select-menu.dark-mode, #pokemon-submit-select.dark-mode {
    &:not(#submit-pokemon.dark-mode) {
        background-color: #afafaf!important;

        &:hover {
            background-color: c.$dmsecondarygray!important;
            color: c.$graytext;
        }
    }
}

#update-info.dark-mode, #character-list-con.dark-mode {
    &::-webkit-scrollbar-track {
        background-color: c.$graytext;
    }
}

.lightbox.dark-mode {
    p, h3, label, h4, li, a {
        color: rgb(190, 190, 190)!important;
    }

    a {
        text-decoration: underline!important;
    }
}

.info-box.dark-mode {
    background-color: rgb(222, 222, 222);
}

.more-info.dark-mode {
    background-color: rgb(222, 222, 222)!important;
    border: 1px solid rgb(222, 222, 222)!important;
    color: black;
}

#profile-info-con.dark-mode {
    background-color: c.$lightboxgreen;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    border: 3px solid black;
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    #profile-info-con.dark-mode {
        padding-right: 15px;
    }
}