p, a, li, option, select, label, button, input, textarea {
    font-family: "Public Sans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    &:not(button) {
        line-height: 20px;
    }
}

h3 {
    font-family: "Public Sans", "Arial", sans-serif;
    font-weight: 600;
}

a {
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: black;
    }
}

.upvote, .vote-count {
    font-size: 20px;
}

.pokemon-name {
    font-size: 16px;
}

#character-title, #select-title {
    font-size: 22px;
}

#character-list-title {
    font-size: 18px;
}

.pokemon-name {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

#top-text.dark-mode, #update-text.dark-mode {
    color: white;
}

#update-text {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: right;
    line-height: 20px;
    margin-right: 2%;
}

.close-button {
    font-size: 30px;
    text-align: center;
}

@media screen and (min-width: 428px) {
    .upvote, .vote-count {
        font-size: 20px;
    }

    .pokemon-name {
        font-size: 19px;
    }
}

@media screen and (min-width: 768px) {
    .upvote, .vote-count {
        font-size: 24px;
    }

    .pokemon-name {
        font-size: 21px;
    }

    #character-title, #select-title {
        font-size: 24px;
    }

    p, a, li, option, select, label, button, input, textarea {
        font-size: 14px;
        &:not(button) {
            line-height: 25px;
        }
    }
}

@media screen and (min-width: 1200px) {
    p, a, li, option, select, label, button, input, textarea {
        font-size: 16px;
    }

    .pokemon-name {
        font-size: 24px;
    }

    .upvote, .vote-count {
        font-size: 28px;
    }
}