#contact-form-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 10px;
}

#contact-title {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form input:not(#submit-contact) {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

#contact-form textarea {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    height: 100px;
}

#submit-contact {
    margin-top: 20px;
}

#error-message {
    margin-top: 20px;
}

#error-text {
    text-align: center;
}

#other-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-con {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    #contact-form input:not(#submit-contact, #privacy-policy-check) {
        width: 50%;
    }

    #contact-form textarea {
        width: 50%;
    }

    #submit-contact {
        width: 10%;
    }
}