#contact-form-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 10px;
}

#contact-title {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 15px;
}

#contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form input:not(#submit-contact) {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    margin-bottom: 20px;
}

#contact-form textarea {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    height: 100px;
}

#submit-contact {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    background-color: white;
    width: 25%;
    &:hover {
        color: white;
    }
}

#error-message {
    margin-top: 10px;
}

#error-text {
    text-align: center;
}

#other-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    #contact-form input:not(#submit-contact) {
        width: 50%;
    }

    #contact-form textarea {
        width: 50%;
    }

    #submit-contact {
        width: 10%;
    }
}