#character-list-con, #character-partner-con {
    border: 1px solid black;
    margin-top: 10px;
}

#character-list-con {
    background-color: rgb(222, 222, 222);
    height: 550px;
    overflow: scroll;
    position: sticky;
    top: 10px;
    display: none;
}

#character-image-box {
    width: 33%;
    height: 33%;
    margin: 10px;
    position: sticky;
    top: 70px;
}

.partner-div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-right: 20px;
}

.pokemon-image {
    padding: 10px;
    height: 80px;
    width: 80px;
    background-image: url(../images/pokeball-full.svg);
}

#partner-box {
    width: 100%;
    position: relative;
}

.vote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upvote, .vote-count {
    font-size: 20px;
}

.upvote {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

#character-title {
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 3px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(222, 222, 222);
}

#character-box {
    display: flex;
    flex-direction: column;
}

#display-div {
    display: flex;
}

.character {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
        text-decoration: underline;
    }
}

#submit-pokemon-button {
    margin-top: 5px;
}

@media screen and (min-width: 428px) {
    .pokemon-image {
        padding: 10px;
        height: 100px;
        width: 100px;
        background-image: url(../images/pokeball-full.svg);
    }

    .upvote, .vote-count {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .partner-div {
        padding-right: 50px;
    }

    .pokemon-image {
        padding: 10px;
        height: 120px;
        width: 120px;
        background-image: url(../images/pokeball-full.svg);
    }

    #character-box {
        display: flex;
    }

    .upvote, .vote-count {
        font-size: 28px;
    }

    #character-title {
        font-size: 24px;
    }

    #character-list-select {
        display: none;
    }

    #character-list-con {
        display: grid;
    }
}