@use "../abstracts/colours" as c;

#character-list-con {
    border: 1px solid black;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#character-partner-con {
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#character-list-con {
    height: 550px;
    overflow-y: scroll;
    position: sticky;
    top: 10px;
    display: none;
    grid-template-rows: auto auto;
    flex-direction: column;

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
  
     &::-webkit-scrollbar-thumb {
        background: c.$dmprimarygreen;
    }
  
    &::-webkit-scrollbar-thumb:hover {
        background: c.$primarygreen;
    }

    &::-webkit-scrollbar-button {
        background-color: c.$primarygreen;
    }
  
    &::-webkit-scrollbar-button:vertical:decrement {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="8,2 14,10 2,10" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:vertical:increment {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="2,6 14,6 8,14" fill="white"/></svg>') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:horizontal:decrement {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%222%2C8 10%2C2 10%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:horizontal:increment {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%226%2C2 14%2C8 6%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:end:decrement,
    &::-webkit-scrollbar-button:start:increment, &::-webkit-scrollbar-button:horizontal:increment, &::-webkit-scrollbar-button:horizontal:decrement {
        display: none;
    }
}

#character-image-box {
    height: 33%;
    margin: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    max-height: 300px;
}

#character-list, #character-list-title {
    grid-row: 1;
}

.partner-div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-right: 20px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.pokemon-image {
    padding: 10px;
    height: 80px;
    width: 80px;
    background-image: url(../images/pokeball-full.svg);
}

#partner-box {
    width: 100%;
    position: relative;
}

.vote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.upvote {
    cursor: pointer;
    margin-bottom: 5px;
    &:hover {
        opacity: 70%;
    }
}

#character-title {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: c.$primarygreen;
}

#character-box {
    display: flex;
    flex-direction: column;
}

#display-div {
    display: flex;
    flex-direction: column;
}

.character {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin-bottom: 15px;
    margin-right: 5px;
    &:hover {
        opacity: 70%;
        text-decoration: underline;
    }
}

#submit-pokemon-button {
    margin-top: 10px;
}

#submit-poke-text {
    margin-top: 15px;
    text-align: center;
}

#character-list-title {
    text-align: center;
    border-bottom: 1px solid black;
    height: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: c.$primarygreen;
}

#loading-text {
    margin-top: 10px;
}

#vote-box, #upvote-prevent-box {
    border: 1px solid black;
    background-color: white;
    width: max-content;
    height: max-content;
    padding: 10px;
    margin-top: 25px;
    position: absolute;
    display: none;
}

#upvote-prevent-box {
    width: 200px;
}

#patch-open {
    cursor: pointer;
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

#update-info-con {
    padding-top: 20px;
    width: 100%;
    background-color: c.$lightboxgreen;
    border: 3px solid black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    height: 97.5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    // background-color: rgba(89, 148, 92, 0.5);
}

#update-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#update-info {
    overflow-y: scroll;
    height: 100%;
    margin-left: 15px;
    h3 {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;
    }

    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
  
     &::-webkit-scrollbar-thumb {
        background: c.$dmprimarygreen;
    }
  
    &::-webkit-scrollbar-thumb:hover {
        background: c.$primarygreen;
    }

    &::-webkit-scrollbar-button {
        background-color: c.$primarygreen;
    }
  
    &::-webkit-scrollbar-button:vertical:decrement {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="8,2 14,10 2,10" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:vertical:increment {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="2,6 14,6 8,14" fill="white"/></svg>') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:horizontal:decrement {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%222%2C8 10%2C2 10%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:horizontal:increment {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%226%2C2 14%2C8 6%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:horizontal:increment, &::-webkit-scrollbar-button:horizontal:decrement {
        display: none;
    }
}

#pokemon-submit-shiny, #shiny-label-click {
    cursor: pointer;
}

#pokemon-select-con {
    background-color: c.$lightboxgreen;
    border: 3px solid black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    height: min-content;
    width: min-content;
    justify-self: center;
    padding: 10px 75px 20px 75px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    .close-button {
        text-align: right;
        margin-bottom: 10px;
        margin-right: 0px;
    }
}

#head-info-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    p {
        font-size: 14px;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5px;
        &:first-of-type {
            margin-bottom: 15px;
        }
    }
}

#update-text {
    text-align: right;
}

#home-about-text {
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    text-decoration: underline;
}

#primary-info-con {
    display: flex;
    flex-direction: column;
    .mobile-close {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        p {
            text-align: right;
        }
    }
}

#welcome-con {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    width: 80%;
    left: 10%;
    height: 97.5%;
    background-color: rgba(30,75,49,.9725490196);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    h3 {
        text-align: center;
    }

    p {
        margin-bottom: 10px;
    }

    ul {
        margin-bottom: 25px;
    }

    li {
        margin-bottom: 5px;
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
  
     &::-webkit-scrollbar-thumb {
        background: c.$dmprimarygreen;
    }
  
    &::-webkit-scrollbar-thumb:hover {
        background: c.$primarygreen;
    }

    &::-webkit-scrollbar-button {
        background-color: c.$primarygreen;
    }
  
    &::-webkit-scrollbar-button:vertical:decrement {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="8,2 14,10 2,10" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:vertical:increment {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><polygon points="2,6 14,6 8,14" fill="white"/></svg>') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:horizontal:decrement {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%222%2C8 10%2C2 10%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }
    
    &::-webkit-scrollbar-button:horizontal:increment {
        background: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A//www.w3.org/2000/svg%22 width%3D%2216%22 height%3D%2216%22%3E%3Cpolygon points%3D%226%2C2 14%2C8 6%2C14%22 fill%3D%22white%22/%3E%3C/svg%3E') no-repeat center center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 9px;
        background-color: c.$dmprimarygreen;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: c.$primarygreen;
        }
    }

    &::-webkit-scrollbar-button:horizontal:increment, &::-webkit-scrollbar-button:horizontal:decrement {
        display: none;
    }
}

.info-con {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

#home-error-message {
    display: none;
}

.inactive-link:hover {
    text-decoration: none!important;
}

.external-icon {
    width: 15px;
    margin-left: 2.5px;
}

#intro-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    img {
        width: 175px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 428px) {
    .pokemon-image {
        padding: 10px;
        height: 100px;
        width: 100px;
    }
}

@media screen and (min-width: 768px) {
    .partner-div {
        padding-right: 40px;
    }

    #head-info-con {
        flex-direction: row;
        p {
            &:first-of-type {
                margin-bottom: 0;
            }
        }
    }

    #welcome-con {
        width: 50%;
        left: 25%;
        padding: 15px;

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }
    }

    .character-image {
        max-height: 350px;
        display: flex;
        justify-self: center;
        width: auto;
    }

    .pokemon-image {
        padding: 10px;
        height: 120px;
        width: 120px;
    }

    #character-box {
        display: flex;
    }

    #character-list-select {
        display: none;
    }

    #character-list-con {
        display: flex;
        margin-left: 10px;
    }

    #character-image-box {
        width: 33%;
        position: sticky;
        top: 70px;
        display: flex;
        align-items: center;
    }

    #display-div {
        flex-direction: row;
    }

    .vote-box {
        margin-right: 0px;
    }

    #head-info-con p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    .partner-div {
        padding-right: 50px;
    }

    #intro-con {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-right: 15%;
        img {
            padding-right: 15px;
            margin-bottom: 0;
        }
    }
}