#character-list-con.dark-mode {
    border: 2px solid black;
    background-color: rgb(222, 222, 222);
}

#character-partner-con.dark-mode {
    margin-top: 10px;
    border: 3px solid black;
    background-color: rgb(222, 222, 222);
}

#character-title.dark-mode {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: rgb(183, 183, 183);
}

#character-list-title.dark-mode {
    border-bottom: 2px solid black;
    background-color: rgb(183, 183, 183);
}