#privacy-info-con {
    padding-left: 5px;
    padding-right: 5px;
}

#privacy-title {
    text-align: center;
}

.privacy-text {
    margin-bottom: 15px;
}

.privacy-title {
    font-weight: bold;
}

#privacy-info ul li {
    margin-bottom: 20px;
}

#privacy-update-text {
    margin-top: 15px;
    text-align: right;
}

.privacy-link {
    text-decoration: underline;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

@media screen and (min-width: 768px) {
    #privacy-update-text {
        margin-top: 20px;
    }
}