.rules-text:not(:last-of-type) {
    margin-bottom: 30px;
}

.rules-text:last-of-type {
    margin-bottom: 20px;
}

.example-list {
    margin-block-end: 0;
}

.rule-checkbox {
    margin-top: 15px;
}

#accept-all {
    display: none;
}

#suggest-con {
    display: none;
}